#cloud-config
autoinstall:
  version: 1
  apt:
    geoip: true
    preserve_sources_list: false
    primary:
    - arches: [amd64, i386]
      uri: http://us.archive.ubuntu.com/ubuntu
    - arches: [default]
      uri: http://ports.ubuntu.com/ubuntu-ports
  identity: {hostname: focal-autoinstall, password: '$6$rounds=4096$pxIXGJ7Vb1aOIw9b$pwUIbLJh4cvcO5hNGMw97xtlNh0Z3OgmlgqhOtNTGFEv9Xl6YMBMI4o6QIrC6//TfzUHg.iJy4Iqen20Z7RvZ0', realname: anvil, username: anvil}
  keyboard: {layout: us, toggle: null, variant: ''}
  locale: en_US
  network:
    network:
      ethernets:
        eth0: {dhcp4: true}
      version: 2
  ssh:
    allow-pw: false
    authorized-keys: ['ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBt48noMzgehjgTJszcAoj5InR6mbNTj3yA00ioXifk2 mglenn@ilude.com']
    install-server: true
  storage:
    config:
    - {ptable: gpt, path: /dev/sda, wipe: superblock, preserve: false, name: '', grub_device: true,
      type: disk, id: disk-sda}
    - {device: disk-sda, size: 1048576, flag: bios_grub, number: 1, preserve: false,
      type: partition, id: partition-0}
    - {device: disk-sda, size: 1073741824, wipe: superblock, flag: '', number: 2,
      preserve: false, type: partition, id: partition-1}
    - {fstype: ext4, volume: partition-1, preserve: false, type: format, id: format-0}
    - {device: disk-sda, size: -1, wipe: superblock, flag: '', number: 3,
      preserve: false, type: partition, id: partition-2}
    - name: ubuntu-vg
      devices: [partition-2]
      preserve: false
      type: lvm_volgroup
      id: lvm_volgroup-0
    - {name: ubuntu-lv, volgroup: lvm_volgroup-0, size: 100%, preserve: false,
      type: lvm_partition, id: lvm_partition-0}
    - {fstype: ext4, volume: lvm_partition-0, preserve: false, type: format, id: format-1}
    - {device: format-1, path: /, type: mount, id: mount-1}
    - {device: format-0, path: /boot, type: mount, id: mount-0}
  late-commands:
    - echo 'anvil ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/anvil
    - sed -ie 's/GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="net.ifnames=0 ipv6.disable=1 biosdevname=0"/' /target/etc/default/grub
    - curtin in-target --target /target update-grub2
  # phone_home: if this dictionary is present, then the phone_home
  # cloud-config module will post specified data back to the given
  # url
  # default: none
  # phone_home:
  #   url: http://my.foo.bar/$INSTANCE/
  #   post: all
  #   tries: 10
  #
  # phone_home:
  #   url: http://my.example.com/$INSTANCE_ID/
  #   post: [ pub_key_dsa, pub_key_rsa, pub_key_ecdsa, instance_id ]
