version: "2.4"
services:
  nginx:
    image: linuxserver/nginx
    container_name: nginx
    restart: unless-stopped
    environment:
      - PUID={{ current_puid }}
      - PGID={{ current_pgid }}
      - TZ=US/Eastern
    volumes:
      - /apps/pxe/nginx-config:/config
      - /apps/pxe/www:/config/www
    ports:
      - {{ ansible_eth1.ipv4.address }}:80:80
    