default install
label install
kernel ubuntu-installer/amd64/linux
append vga=788 initrd=ubuntu-installer/amd64/initrd.gz auto=true priority=critical root=/dev/ram0 ramdisk_size=1500000 ip=dhcp autoinstall ds=nocloud-net;s=http://{{ ansible_eth1.ipv4.address }}/tftp/